
<div class="bottom-footer">
    <span class="mini-note">Cool, you've reached the end of the page. Reach me here ↓</span>
</div>

<footer class="footer">
  <a href="https://gedankenwelten.substack.com" class="menu-link" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </a>
   <a href="mailto:lissy.reim@lre.im" class="menu-link">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
  <a href="https://www.linkedin.com/in/lissy-c-reim" class="menu-link" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
</footer>
