<div class="site-title-block">
    <img class="site-logo" src="{{ site.baseurl }}/images/logo-big.png" alt="Site logo" width="120" height="120">
    <h2 class="title">{{ site.title }}</h2>
</div>
<nav class="sans">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <p><label class="menu-icon" for="menu-btn">Menu</label></p>
    <ul class="site-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Posts</a></li>
        <li><a href="/photography">Photography</a></li>
        <li><a href="/university">University</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/dancing">Dancing</a></li>
        <li><a href="/booklist">Booklist</a></li>
        <li><a href="/random">Random</a></li>
        <li><a href="/piano">Piano</a></li>
        <li><a href="/swimming">Swimming</a></li>
        <li><a href="/feed.xml">RSS</a></li>
    </ul>
</nav>
