<header>
    <h1>Book List</h1>
</header>
<main>
    <p>
        <p>
            I recently got inspired by the website of Sarah Zerbes (my Linear Algebra professor at ETH) to add a list of books I’ve enjoyed reading.
            Since I truly believe that books are unbelievably important — also for our personal lives — and that we should all read more 
            (I know, it’s hard sometimes; I still catch myself skipping reading time because of a lack of time... currently working on building better “book routine hygiene” ;)), 
            here it is:
        </p>
        <ul>
            <li><em>Never Split the Difference</em>, by Chris Voss</li>
            <li><em>Einsteins Schleier</em>, by Anton Zeilinger</li>
            <li>Children’s books by Lucy and Stephen Hawking ;)</li>
        </ul>
    
    </p>
</main>